<section>
  <div class="landing-page-grid">
    <div class="item">
      <%= image_tag 'landing-1.jpg' %>
    </div>
    <div class="item">
      <%= image_tag 'landing-2.jpg' %>
    </div>
    <div class="item">
      <%= image_tag 'landing-3.jpg' %>
    </div>
  </div>
</section>
