.all-intro{
  background-image: asset-url("all-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5% 47% 5% 5%;
  p{
    line-height: 1.6;
  }
}

.all-products {
  padding: 10%;
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-gap: 10px;
    .product-each
      img {
       max-width: 100%;
       height: 300px;
    }
  }
