// FONTS
$heading-font: 'Cormorant Garamond', serif;
$content-font: 'Questrial', sans-serif;
$small-font: 13px;

// COLOURS
$rainforest-pink: #d71c7f;
$link-colour: #000000;
$body-colour: #333333;
$black-background: #000000;
$white-text: #ffffff;
// $heading-colour: #fff;
// $faded-colour: #ddd;
