// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "normalize";
@import "variables";
@import "font_scale";
@import "landing_page";
@import "all_products";
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');
@import url('https://fonts.googleapis.com/css?family=Questrial');

html {
  box-sizing: inherit;
  font-family: $content-font;
  letter-spacing: 1px;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
  letter-spacing: 0px;
}

a {
  color: $link-colour;
}

.pre-header{
  background-color: #000000;
  color: #ffffff;
  padding: 10px;
  text-align: center;
  p{
    margin: 0;
    font-size: $small-font;
  }
}

header {
  border-bottom: 1px solid #f0efef;
  height: 65px;
  padding: 0 50px;
    h1{
      display: inline-block;
      font-family: $content-font;
      margin: 0.45em 0;
      vertical-align: middle;
      font-size: 35px;
      span{
        color: $rainforest-pink;}
      }
    .main-nav{
      margin: 0.4em 0;
      float: right;
      display: inline-block;}
    li{
      padding: 0 20px 0;
      display: inline-block;}
      a{
        font-size: $small-font;
        text-transform: uppercase;
        color: $link-colour;
        text-decoration: none;
      }
      a:hover{
        color: $rainforest-pink;}
    }
